# Compiled assets
kel-agent
kel-agent.exe
kel-agent.pkg
kel-agent_mac.pkg
win/kel-agent.msi
win/kel-agent.wixobj
win/kel-agent.wixpdb
autorevision.cache
repo/
.flatpak-builder/
kel-agent.flatpak
flatpak_app/
build/

.idea/

.pc
.DS_Store
