#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

BUILDTIME = $(shell date --utc +'%Y-%m-%dT%H:%M:%SZ')
GITCOMMIT = $(shell autorevision -f -o autorevision.cache -s VCS_SHORT_HASH)
VERSION =  $(shell autorevision -f -o autorevision.cache -s VCS_TAG | sed 's/v//g')
GO_LDFLAGS := "-X 'main.Version=v$(VERSION)' -X 'main.GitCommit=$(GITCOMMIT)' -X 'main.BuildTime=$(BUILDTIME)'"

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_build:
	dh_auto_build -O--buildsystem=golang -- --ldflags $(GO_LDFLAGS)

override_dh_auto_install:
	dh_auto_install -- --no-source
