<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='kel-agent v0.4.5' Manufacturer='Chris Keller K0SWE' Id='a22db0cd-1d0b-4f91-b78e-8e0c0d0b5c45'
           UpgradeCode='677cd06e-cca4-453d-9c1a-1854946c789d' Language='1033' Codepage='1252' Version='0.4.5'>
    <Package Id='*' Keywords='Installer' Description="K0SWE kel-agent v0.4.5 Installer"
             Manufacturer='Chris Keller K0SWE' InstallerVersion='100' Languages='1033' Compressed='yes'
             SummaryCodepage='1252'/>
    <Media Id='1' Cabinet='Kelagent.cab' EmbedCab='yes'/>
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='K0SWE' Name='K0SWE'>
          <Directory Id='INSTALLDIR' Name='kel-agent'>
            <Directory Id='BinDir' Name='bin'>
              <Component Id='MainExecutable' Guid='6944ce5e-fb7a-4c98-a28f-9d2411182e2c'>
                <File Id='KelAgentEXE' Name='kel-agent.exe' DiskId='1' Source='../kel-agent.exe' KeyPath='yes'/>
                <Environment Id="SET_ENV" Action="set" Name="PATH" Part="last" Permanent="no" System="yes"
                             Value="[BinDir]"/>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable'/>
    </Feature>
  </Product>
</Wix>
